{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                <p for="username">
                    Username:
                    <input type="text" id="username" name="username">
                </p>
                <p for="password">
                    Password:
                    <input type="password" id="password" name="password">
                </p>
                <button>Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
